
.cart .cart-container {
  width: 45%;
  height: auto;
  border: 3px solid var(--main_color);
  margin: 50px auto;
  border-radius: 10px;
  background-color: var(--bg_color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.cart .cart-container h2{
  text-align: center;
  padding: 13px 0;
  color: var(--main_color);
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--border_color);
}
.cart .cart-container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid var(--border_color);
}
.cart .cart-items .emptyCart{
  text-align: center;
  padding: 20px;
  color: var(--p_color);
  font-size: 1.2rem;
}
.cart .cart-container .cart-item .img{
  max-width: 100px;
  max-height: 100px;
}
.cart .cart-container .cart-item img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cart .cart-container .cart-item .item-details{
  max-width: 400px;
  min-width: 300px;
}
.cart .cart-container .cart-item .item-details h3 {
  margin: 5px 0;
  font-size: 1rem;
  color: var(--color_heading);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart .cart-container .cart-item .item-details p {
  margin: 8px 0;
  color: var(--p_color);
  font-size: 0.9rem;
}
.cart .cart-container .cart-item .item-details .quantity-controls button{
  background-color: var(--main_color);
  color: var(--white_color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8rem;
  user-select: none;
}
.cart .cart-container .cart-item .item-details .quantity-controls button:hover {
  background-color: var(--hover);
}
.cart .cart-container .cart-item .item-details .quantity-controls button:disabled {
  background-color: #00f07069;
}
.cart .cart-container .cart-item .item-details .quantity-controls .quantity{
  margin: 0 10px;
  font-size: 1rem;
  color: var(--color_heading);
  font-weight: bold;
}
.cart .cart-container .cart-item .remove-btn{
  background: none;
  color: red;
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart .cart-container .cart-item .remove-btn:hover{
  scale: 1.3;
}
.cart .cart-container .total-summary{
  margin-top: 20px;
  padding: 10px;
}
.cart .cart-container .total-summary h3{
  display: flex;
  justify-content: space-between;
}
.cart .cart-container .total-summary span{
  color: var(--main_color);
}
/* media */
@media (max-width: 768px){
  .cart .cart-container h2{
    padding: 10px 0;
    font-size: 1.6rem;
  }
  .cart .cart-container {
    width: 75%;
  }
}
@media (max-width: 426px){
  .cart .cart-container h2{
    padding: 10px 0;
    font-size: 1.6rem;
  }
  .cart .cart-container {
    width: 80%;
  }
  .cart .cart-items .emptyCart{
    text-align: center;
    padding: 20px;
    color: var(--p_color);
    font-size: 1.2rem;
  }
  .cart .cart-container .cart-item .img{
    max-width: 100px;
    max-height: 100px;
  }
  .cart .cart-container .cart-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .cart .cart-container .cart-item .item-details{
    max-width: 400px;
    min-width: 150px;
  }
  .cart .cart-container .cart-item .item-details h3 {
    margin: 5px 0;
    font-size: 0.8rem;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .cart .cart-container .cart-item .item-details p {
    font-size: 0.8rem;
  }
  .cart .cart-container .cart-item .item-details .quantity-controls button{
    padding: 5px 10px;
    font-size: 0.7rem;
  }
  .cart .cart-container .cart-item .item-details .quantity-controls .quantity{
    font-size: 0.8rem;
  }
  .cart .cart-container .total-summary h3{
    font-size: 15px;
  }
}
/* media */