.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s;
  background-color: transparent;
}
.top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid var(--border_color);
}

.top-header .logoHeader {
  color: var(--main_color);
}

.top-header.scrolled {
  background-color: rgba(36, 36, 36, 0.3);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%, 
    rgba(255, 255, 255, 0) 100%
  );
  animation: fadeIn 0.6s ease-in-out;  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  25% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.top-header.scrolled .nav-links,
.top-header.scrolled .header-icons {
  background-color: transparent !important;
}

.top-header .menuNav .menuNav-icons,
.top-header .header-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: var(--bg_color);
  padding: 5px 10px;
  border: 2px solid var(--border_color);
  border-radius: 10px;
  position: relative;
}

.menuNav-icons .icon,
.header-icons .icon {
  position: relative;
  cursor: pointer;
}
.menuNav-icons .icon svg,
.header-icons .icon svg {
  color: black;
  font-size: 24px;
}
.menuNav-icons .icon .count,
.header-icons .icon .count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--hover);
  color: var(--white_color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
/* media query */
/* tablets */
@media (max-width: 768px) {
  .top-header .logoHeader {
    font-size: 22px;
  }
  .top-header .header-icons .icon svg {
    font-size: 20px;
  }
  .top-header .header-icons .icon .count {
    top: -4px;
    right: -5px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    line-height: 15px;
  }
}
/* mobile */
@media (max-width: 426px) {
  .top-header .logoHeader {
    font-size: 18px;
  }
  .top-header .header-icons {
    gap: 13px;
  }
  .top-header .header-icons .icon svg {
    font-size: 20px;
  }
  .top-header .header-icons .icon .count {
    top: -3px;
    right: -3px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    line-height: 13px;
  }
}
/* media query */

/* *********************** */

.top-header .container .nav-links {
  display: flex;
  background-color: var(--bg_color);
  border: 2px solid var(--border_color);
  border-radius: 10px;
  height: 100%;
}

.top-header .container .nav-links li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  cursor: pointer;
}
.top-header .container .nav-links li:hover {
  background-color: #25323719;
  /* background-color: var(--disable); */
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  border-bottom: 1px solid var(--main_color);
}
.top-header .container .nav-links li a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 48px;
}
.top-header .container .nav-links li:hover a {
  color: var(--hover);
}
.top-header .container .sign-rigs-icon {
  display: flex;
  gap: 20px;
}
.top-header .container .sign-rigs-icon svg {
  font-size: 21px;
  fill: #000;
  cursor: pointer;
}
.menu-icon {
  display: none;
}
.menuNav {
  visibility: hidden;
  opacity: 0;
  clip-path: circle(0% at 100% 0);
  transition:
    clip-path 0.5s ease-in-out,
    opacity 0.3s ease-in-out;
  width: 0;
  height: 0;
}

@media (max-width: 950px) {
  .top-header .container .nav-links {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .menuNav.open {
    visibility: visible;
    opacity: 1;
    clip-path: circle(150% at 100% 0);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    background-color: var(--bg_color);
    padding: 30px;
    height: 100%;
    width: 50%;
  }
  .top-header.scrolled:has(.menuNav.open) {
    background-color: transparent;
    height: 100%;
  }
  .menuNav.open .menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
  }
  .menuNav.open .menuNav-icons {
    background-color: transparent;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 25px;
  }
  .menuNav.open li {
    margin: 10px 5px;
    list-style: none;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--hover);
    border-radius: 3px;
    margin-top: 25px;
    cursor: pointer;
  }
  .menuNav.open li:hover {
    background-color: var(--hover);
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
  }
  .menu.open .menuNav li a {
    color: var(--hover);
    font-size: 17px;
    font-weight: 600;
  }
}
@media (max-width: 426px) {
  .menuNav.open {
    width: 100%;
  }
}

/* media query */
