@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #ffffff;
  --color_heading: #253237;
  --border_color: #d6d6d6;
}

body{
  background: var(--white_color);
  font-family: "Inter", sans-serif;
}

img{
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  color: var(--color_heading);
  font-family: "DM Sans", sans-serif;
}

span{
  color: var(--main_color);
}

p{
  color: var(--p_color);
}

input, button, select, textarea{
  outline: none;
  border: none;
}

a{
  text-decoration: none;
  color: var(--color_heading);
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}

/* loading page */
.skeltion {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
/* loading page */
/* toast */
.toast{
  display: flex;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
  height: auto;
  color: #dfdfdfd6;
}
.toast img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.toast .toast-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.toast .toast-content strong{
  color: var(--main_color);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.toast .toast-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.toast .toast-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.toast .toast-content button{
  background: var(--main_color);
  color: var(--white_color);
  max-width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.toast .toast-content button:hover{
  scale: 1.05;
}
/* toast */